/*-----------------Table des matières------------------*/
/*-----------------------------------------------------*/
/*-------------------1.Variables-----------------------*/
/*--------------------2.Général------------------------*/
/*--------------------3.Header-------------------------*/
/*--------------------4.Aside--------------------------*/
/*---------------------5.main--------------------------*/


/*-------------------1.Variables-----------------------*/
* {
    
}

/*--------------------2.Général------------------------*/

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside";
    grid-template-rows: 1fr auto;
    grid-template-columns: 5fr 1fr;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    height: 80vh;
    width: auto;
}

aside {
    grid-area: aside;
}

/*--------------------3.Header-------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-droite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin-right: 6rem;
    font-size: small;
}

.menu-gauche {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-gauche button {
    width: 12vh;
    padding: 1rem;
    margin-right: 2rem;
}

/*--------------------4.Aside--------------------------*/

aside {
    display: flex;
    flex-direction: column;
}

aside h1 {
    text-align: center;
}

.participant li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vh;
}

.participant img {
    height: 14vh;
    width: 12vh;
    border-radius: 1rem;
    box-shadow: 1vh 1vh;
}

/*---------------------5.main--------------------------*/
iframe {
    height: 80vh;
    width: 120vh;
    background-color: aqua;
}
